<div class="d-flex justify-content-between align-items-center mt-4 mb-2">
  <h2>Liste des produits</h2>
  <div>
    <a
       *ngIf="authService.roles.includes('ADMIN')"
       routerLink="/admin/home/form" routerLinkActive="active"
       class="btn btn-success m-1"
       style="color: white; background: #012a5b; border: none;">
      Créer
    </a>
    <a
       *ngIf="authService.roles.includes('ADMIN')"
       routerLink="/admin/home/import"
       routerLinkActive="active"
       class="btn btn-secondary m-1"
       style="color: white; background: #017b5b; border: none;">
      Importer (Excel)
    </a>
  </div>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Code</th>
      <th>Libellé</th>
      <th>Prix Unitaire</th>
      <th>Catégorie</th>
      <th>Etagere</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let prod of produit">
      <td>{{ prod.code }}</td>
      <td>{{ prod.libelle }}</td>
      <td>{{ prod.prixUnitaire }}</td>
      <td>{{ prod.categorie?.libelle }}</td>
      <td>{{ prod.etagere?.libelle }}</td>
      <td>
        <button *ngIf="authService.roles.includes('ADMIN')" (click)="editProduit(prod.id!)" class="btn btn-primary m-1" style="color: white; background: #012a5b; border: none;">Modifier</button>
        <button *ngIf="authService.roles.includes('ADMIN')" (click)="deleteProduit(prod.id!)" class="btn btn-danger m-1" style="color: white; background: #5b0401; border: none;">Supprimer</button>
        <button *ngIf="authService.roles.includes('ADMIN')" (click)="detailsProduit(prod.id!)" class="btn btn-info" style="color: white; background: #095b01; border: none;">Details</button>
        <!-- *ngIf="authService.roles.includes('ADMIN')" -->
      </td>
    </tr>
  </tbody>
</table>
