  <div class="main">
    <form class="login-form" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
      <div class="section">
        <label><strong>Se connecter</strong></label>
        <div class="form-field">
          <label for="login">Login</label>
          <input type="text" id="login" name="login" formControlName="login" placeholder="Login" />
        </div>
        <div class="form-field">
          <label for="password">Mot de passe</label>
          <input type="text" id="password" name="password" formControlName="password" placeholder="Mot de passe" />
        </div>
        <button type="submit" mat-flat-button>Connexion</button>
      </div>
    </form>
  </div>
