<div class="main">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="section">
      <label><strong>Informations Du Produit</strong></label>
      <div class="form-field">
        <label for="code">Code</label>
        <input type="text" id="code" name="code" formControlName="code" placeholder="Code" />
      </div>
      <div class="form-field">
        <label for="libelle">Libellé</label>
        <input type="text" id="libelle" name="libelle" formControlName="libelle" placeholder="Libellé" />
      </div>
      <div class="form-field">
        <label for="prixUnitaire">Prix Unitaire</label>
        <input type="text" id="prixUnitaire" name="prixUnitaire" formControlName="prixUnitaire" placeholder="Prix Unitaire" />
      </div>
      <div class="form-field">
        <label for="categorie">Catégorie</label>
        <select id="categorie" formControlName="categorieId" class="form-control">
          <option *ngFor="let c of categories" [value]="c.id">{{ c.libelle }}</option>
        </select>
      </div>

      <div class="form-field">
        <label for="etagere">Étagère</label>
        <select id="etagere" formControlName="etagereId" class="form-control">
          <option *ngFor="let e of etageres" [value]="e.id">{{ e.code }}</option>
        </select>
      </div>
      <button type="submit" mat-flat-button>Enrgistrer</button>
    </div>
  </form>
</div>
