<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item"><a routerLink="/" routerLinkActive="active" class="nav-link">Accueil</a></li>
    <li class="nav-item"><a routerLink="stage" routerLinkActive="active" class="nav-link">Stage</a></li>
    <li class="nav-item"><a routerLink="stagiaire" routerLinkActive="active" class="nav-link">Stagiaire</a></li>
    <li class="nav-item"><a routerLink="evaluation" routerLinkActive="active" class="nav-link">Evaluation</a></li>
  </ul>
</nav>
